<!DOCTYPE html>
<html>
  <head>
    <script src="js/p5.min.js"></script>
    <script src="js/p5.dom.min.js"></script>
    <script src="js/load-test.js"></script>
    <script src="js/sketch.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style> 
      body {padding: 0; margin: 0; background-color: black;} 
      #container {margin:auto; width:50%}
      h1 {color:white; margin: auto; margin-bottom: 10px; margin-top: 10px; width: 50%;}
      #canvas-container {display:inline-block;} 
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Draw a thing!</h1>
      <div id="canvas-container"></div>
    </div>
  </body>
</html>
